body {
  font-family: Helvetica;
  font-size: 13px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#header,
#content {
  max-width: 580px;
  /* Sets the same maximum width for both */
  padding: 0 60px;
  /* Adds the same padding to both */
  box-sizing: border-box;
  text-align: left;
}

#header {
  max-width: 580px;
  /* Sets the same maximum width for both */
  padding: 0 60px;
  /* Adds the same padding to both */
  padding-top: 50px;
  /* Adjusts top padding to control spacing above title */
  margin: 0;
  text-align: left;
}

#header h3 {
  margin: 0;
}

#content {
  margin: 0 auto;
}

/* Optional clearfix to manage floated elements */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.white {
  color: white !important;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content h1,
#content h2,
#content h3 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  margin: 0;
}

#content .byline,
#content .byline a,
#content .note {
  font-size: 10px;
  color: #aaa;
}

#content p,
#content ul {
  color: #333;
  line-height: 18px;
}

ul ul {
  margin-top: 5px;
  /* Remove top margin */
  /* padding-left: 20px;  Adjust indentation */
}

#content li.list-items {
  margin-bottom: 2px;
}

#content sup.note {
  display: inline-block;
  margin-top: -5px;
}

#content li {
  margin-bottom: 0.6em;
}

.post + .post {
  margin-top: 50px;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

/* Project Page Styling */
.project {
  margin-bottom: 40px;
}

.project-title {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  font-size: 20px;
  color: #333;
  margin: 20px 0 10px;
}

.project-description {
  font-size: 13px;
  color: #333;
  line-height: 18px;
  margin-bottom: 20px;
}

.project-media {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-media-smaller {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  gap: 20px;
  margin: 0 auto; /* Centers the element horizontally */
  justify-content: center; /* Centers child elements if applicable */
}

.project-caption {
  margin-top: -12px;
}

.project-image,
.project-video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  flex: 1 1 100%;
}

.project-media-row {
  display: flex;
  gap: 10px;
}

.project-media-row .project-image {
  width: 48%; /* Ensures each image takes about half the row's width */
  flex: none; /* Prevents images from expanding beyond their defined width */
}

.project-media-row-4 {
  display: flex;
  gap: 10px;
}

.project-media-row-4 .project-image {
  width: 23.5%; /* Ensures each image takes about half the row's width */
  flex: none; /* Prevents images from expanding beyond their defined width */
}

.back-button {
  padding-bottom: 60px;
}
